#headerComponent {
  border: 1px solid;
  position: relative;
  overflow: auto;
  height: 100px;
  #logo {
    position: absolute;
    left: 10%;
    top: 30%;
    font-size: 2.4em;
    font-weight: bolder;
    font-family: open-sans-semi-bold;
    color: rgba(241, 104, 118, 1);
    letter-spacing: 0.4px;
    #trademark {
      padding-right: 3px;
      margin-right: 9px;
      color: #fff;
      background-color: rgba(241, 104, 118, 1);
      ;
      padding-left: 12px;
      position: relative;
      top: -5px;
    }
    .advisor {
      font-size: 1.3em;
      color: #1010ab;
      margin-left: 5px;
    }
  }
  ul {
    float: right;
    list-style: none;
    margin: 1% 25% 0 0;
    li {
      display: inline-block;
      padding: 5px 25px;
      a {
        text-decoration: none;
      }
    }
  }
}
