<div id="homeComponent">
  <div id="heroWrapper">
      <div id="hero">
        <h1>The Axis Group</h1>
        <p>Financial Consulting.  Let Us Do the Math.</p>
        <a class="heroBtn centerH" href="">Get Started</a>
      </div>
  </div>
  <div id="whyAxisAdvisor">
    <div id="whyAxisAdvisorL">
      <img src="assets/images/homeComponent/homeComponent-whyUs.jpg"/>
    </div>
    <div id="whyAxisAdvisorR">
        <h1 class="labelHeader uppercase">Why Axis Advisor?</h1>
    <p class="labelPara">Axis Advisor Life Insurance Company Ltd. (formerly known as Axis Advisor Old Mutual Life Insurance Ltd.) is one of
      the fastest growing insurance companies in India, covering over 20 million lives nationwide (as on 31 st August 2018).</p>
      <a class="btnPrimary" href="">Read More</a>
    </div>
  </div>
  <div id="ourTeam">
    <h1 class="labelHeader uppercase">Our Team</h1>
    <p class="labelPara">Our ability to deliver outstanding results for our clients starts with our team of smart, capable PR experts. We come from a diverse set of experiences and backgrounds.</p>
     <p id="ourTeamReadMore"><a class="btnPrimary" href="">Read More</a></p>
    <div class="profile">
      <img src="assets/images/homeComponent/team1.jpeg"/>
      <h4 class="name">Mark Hayden</h4>
      <p class="designation">CEO and Founder</p>
    </div>
        <div class="profile">
      <img src="assets/images/homeComponent/team2.jpeg"/>
      <h4 class="name">Mark Hayden</h4>
      <p class="designation">CEO and Founder</p>
    </div>
        <div class="profile">
      <img src="assets/images/homeComponent/team3.jpeg"/>
      <h4 class="name">Mark Hayden</h4>
      <p class="designation">CEO and Founder</p>
    </div>
 
  </div>
  <div id="outClients">
    <h1 class="labelHeader uppercase">Our Client</h1>
    <img class="clientLogo" src="assets/images/homeComponent/logo1.jpeg"/>
    <img class="clientLogo"  src="assets/images/homeComponent/logo2.jpg"/>
    <img class="clientLogo"  src="assets/images/homeComponent/logo3.jpeg"/>
    <p><a class="btnPrimary centerH" href="">Read More</a></p>
  </div>
  <app-contact></app-contact>
</div>