<div id="homeComponent">
  <div id="heroWrapper">
      <div id="hero">
        <h1>The Axis Group</h1>
        <p>Financial Consulting.  Let Us Do the Math.</p>
        <a class="btnPrimary centerH" href="">Get Started</a>
      </div>
  </div>
  <div id="whyAxisAdvisor">
    <div id="whyAxisAdvisorL">
      <img src="/assets/images/homeComponent/homeComponent-whyUs.jpg"/>
    </div>
    <div id="whyAxisAdvisorR">
        <h1>Why Kotak Life</h1>
    <p>Kotak Mahindra Life Insurance Company Ltd. (formerly known as Kotak Mahindra Old Mutual Life Insurance Ltd.) is one of
      the fastest growing insurance companies in India, covering over 20 million lives nationwide (as on 31 st March 2018).</p>
    </div>
  </div>
  <div id="ourTeam">
    <h1>Our Team</h1>
    <p>'m a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users
      know a little more about you.</p>
  </div>
  <div id="outClients">
    <h1>Our Client</h1>
  </div>
  <div id="ourContact">
    <h1>Need more details? Contact us</h1>
    <p>We are here to assist. Contact us by phone, email or via our social media channels.</p>
  </div>
  <div id="homeFooter">
    <span>© 2023 by The Axis Group</span>
  </div>
</div>