#homeComponent {
  #heroWrapper {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/homeComponent/8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-attachment: fixed;
    #hero {
      color: #FFF;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translateX(-50%);
      h1 {
        font-size: 8em;
        font-weight: bolder;
        letter-spacing: 2px;
      }
      p {
        font-size: 3em;
        font-weight: normal;
        word-spacing: 1px;
        letter-spacing: 1px;
        line-height: 80px;
      }
      .heroBtn {
        border: 1px solid rgba(241, 104, 118, 1);
        color: #FFF;
        text-align: center;
        background-color: rgba(241, 104, 118, 1);
        text-decoration: none;
        display: inline-block;
        font-size: 2em;
        padding: 10px 30px;
        letter-spacing: 1px;
        word-spacing: 2px;
      }
    }
  }
  #whyAxisAdvisor {
    height: 400px;
    overflow: auto;
    padding: 0 10%;
    #whyAxisAdvisorL {
      float: left;
      width: 40%;
      height: 100%;
      position: relative;
      img {
        width: 90%;
        height: auto;
        position: absolute;
        left: 20%;
        margin-top: 10%;
      }
    }
    #whyAxisAdvisorR {
      float: right;
      width: 40%;
      height: 79%;
      padding: 7% 8% 0 0;
      a {
        margin-top: 37px;
      }
    }
  }
  #ourTeam {
    background-color: #f9fafa;
    overflow: auto;
    padding: 6% 10%;
    #ourTeamReadMore {
      margin: -2% 0 5% 0;
    }
    .profile {
      float: left;
      margin-right: 8%;
      width: 25%;
      height: 300px;
      img {
        width: 100%;
        height: 80%;
      }
      .name {
        padding-left: 5%;
        font-family: open-sans-semi-bold;
        font-size: 2em;
        line-height: 1.5em;
      }
      .designation {
        padding-left: 5%;
        font-weight: 500;
        font-size: 1.3em;
      }
    }
  }
  #outClients {
    padding: 3% 10%;
    .clientLogo {
      width: 300px;
      margin: 100px 83px 100px 0;
    }
  }
  #homeFooter {
    padding: 3% 10%;
    background-color: #e8e4e4;
  }
}

